# Day-1
I will start from Python Basic and have choosen [Fork-Python ~GeeksForGeeks](https://practice.geeksforgeeks.org/batch/fork-python/) as a resource. The topics that I will cover are as follows : 
  
  1. Ternary Operator in Python 
  2. Division Operators in Python 
  3. Python end parameter in print() 
  4. Type Conversion in Python
  5. __name__ (A Special variable) in Python 
  6. How to input multiple values from user in one line in Python?



#1. Ternary Operator in Python

Ternary Operator can also be considered as a shortend if else, we can use it in many ways: 

*   using if else
*   using and or
*   using dictionary
*   using tuple
*   using lambda function

*   **using if else**


`on_true if condition else on_false`


---


example

In [ ]:
x,y=67,89

min=x if x<y else y
print(min)

67

*   **using and or**


`condition and on_true or on_false`


---


example

In [ ]:
x,y=12,9
min=x<y and x or y
print(min)

9

*   **using dictionary**


`{True : on_true, False: on_false}[condition]`


---


example

In [ ]:
x,y=23,14
min={True: x, False: y}[x<y]
print(min)

14

*   **using tuple**


`(on_true,on_false)[condition]`


---

**Note :** Tuple and lambda function returns 0 on false, and 1 on true so unlike other methods of ternary operators, so it will always return false on condition true, and true on false ðŸ˜‚. It is always a better practice to write opposite condition to get correct result. 

example

In [ ]:
x,y=23,12
min=(x,y)[y<x]
print(min)

12

*   **using lambda function**


`(lambda : on_true, lambda : on_false)[condition]()`


---


example

In [ ]:
x,y=23,12
min=(lambda: x, lambda: y)[y<x]()
print(min)

12

# 2. Division Operators in Python 

For division we can use `**/, //, %**` where 

* /   returns the Quotient value in int or float

* //  returns the floor(least quotient value) value.

* %   returns the Remainder value.


---
example

In [ ]:
a,b=19,3
print(a/b)
print(a//b)
print(a%b)

6.333333333333333
6
1

# Python end parameter in print()

python has built in end=("") parameter, which has default value "\n", that's why you don't need to worry about new line while working with print().

In [ ]:
print("Shivam")
print("Kumar")
print("Sah")

Shivam
Kumar
Sah

If you don't want newline then you can use custom string by end parameter.

In [ ]:
# no new line
print("Shivam", end="")
print("Kumar", end="")
print("Sah")

# space in last of every strings
print("Shivam", end=" ")
print("Kumar", end=" ")
print("Sah")

ShivamKumarSah
Shivam Kumar Sah

# Type Conversion in Python

It is used when you need to convert one data type to another data type, simple rule is write the name of the data type(data) to convert it to that specific data type

* almost every basic data types can be converted to each other just by using their data_type() function,

* you can convert only iterable data type(strings, sequences) to sequences(list, set, dictionary, tuple).


---


example

In [ ]:
intval,stringval,characterval,floatval=35,"10001","A",25.7

a=int(stringval)    #string to int
print(a, type(a))

a=int(stringval,2)  #string to int (binary), because the base is 2
print(a, type(a))   # and by default the base is 10 so it prints in decimal

a=int(floatval)     #float to int
print(a, type(a))

print()             #just to print a blank new line

c=ord(characterval) #char to int
print(c, type(c))

print()

b=float(intval)     #int to float
print(b, type(b))

b=float(stringval)  #string to float
print(b, type(b))

print()

d=str(intval)       #int to string
print(d, type(d))

d=str(floatval)     #float to string
print(d, type(d))

print()

x=chr(intval)       #int to char(string)
print(x, type(x))

print()

#you can convert only those things to this sequence data type which 
#is iterable like string, list etc.
e=tuple(stringval)  #converts to tuple
print(e, type(e))

print()

f=set(e)            #cpnverts to set
print(f, type(f))

print()

g=list(e)           #cpnverts to list
print(g, type(g))

print()

tup = (('a', 1) ,('f', 2), ('g', 3))
h=dict(tup)         #tuple to dictionary, the tuple must have (key, value)as elements
print(h, type(h))

print()

#some number system type cast

i=hex(intval)       #int to hex(string)
print(i, type(i))   

print()

j=oct(intval)       #int to oct(string)
print(j, type(j))   

print()

k=complex(intval, 4)   #int to imaginary number
print(k, type(k))

10001 <class 'int'>
17 <class 'int'>
25 <class 'int'>

65 <class 'int'>

35.0 <class 'float'>
10001.0 <class 'float'>

35 <class 'str'>
25.7 <class 'str'>

# <class 'str'>

('1', '0', '0', '0', '1') <class 'tuple'>

{'0', '1'} <class 'set'>

['1', '0', '0', '0', '1'] <class 'list'>

{'a': 1, 'f': 2, 'g': 3} <class 'dict'>

0x23 <class 'str'>

0o43 <class 'str'>

(35+4j) <class 'complex'>

# name (A Special variable) in Python

it is basically used in when you code in project, where one file connects with another using import. unlike other programming language we don't need to use `main()` function, so when you import a python file it first executes all the executable code of that file and then execeute your current file, obviously we won't like to do that, right? so we will use name variable, `__name__ ` which returns the current module, if it returns main, which means it is the native fie and you can evaluate it using if else.

In [ ]:
#filename first.py

a=23; b=25

if __name__=="__main__":
  print(a+b)

48



---

In [ ]:
#filename second.py

import first        #it won't unnecessarily execute the first.py code
print(a)

# How to input multiple values from user in one line in Python?

We can tale imput through input() method, and also further can typecast to other data types, 

i.e. `int(input())` or `float(input("Enter Ammount"))`

we can write code like before to take inputs multiple times, also we can use list comprehension and map()


---

example

In [ ]:
#by using split() method, it will take input and split them whenever a whitespace ocurs
x,y,z=input().split()
print(x+" "+y+" "+z)
print(type(x))

46 6 905
46 6 905
<class 'str'>

In [ ]:
# reads input, typecast to int, assign them one by one by using for loop
x, y = [int(i) for i in input().split()]  
print(x,y)
print(type(y))

76 839
76 839
<class 'int'>

In [ ]:
#reads input typecasts to integer and maps to variables respactively
x,y,z=map(int, input().split())
print(x,y,z)
print(type(x))

34 689 328
34 689 328
<class 'int'>