# Day-2 Control_Structures
It's Day-2 of my 100DaysOfCoding challenge, here's a full list of notes on the lessons I've covered throughout this journey. To get an idea of what you have to cover on which day, visit https://github.com/ShivamKumarSah/100DaysOfCoding 

Fork and star this repo as a reference or note. The topics I covered today are as follows:
  
  1. loops and else condition
  2. different methods of using for loop
  3. iterate two sequences using one loop
  4. Continue, Break and Pass statements
  5. switch case in python
  6. difference between == and is

#1. loops and else condition
As like c or other programming languages we can use while, do while, and for loop. 

`else` block is optional like if else, use it when you need to execute something just after the loop.



---


**While loop** first checks the condition and if true it runs until the condition becomes false.

In [ ]:
students=["Neha","Ridhi","Simi","Jahnvi"]

i=0
while i<len(students):
  print(students[i])
  i+=1
else:
  print("else block code printed")

Neha
Ridhi
Simi
Jahnvi
else block code printed

**do while** python don't have built in do while loop

**for loop** works as for each loop in other programming languages

let us understand the ways of using for loop

#2. different methods of using for loop

First we need to understand that we use for loop to iterate the sequence, and sequence can be iterate using index values, 

we can use to iterate the loop using range() where it works same as c language for loop, 
where in range(start, stop, step), by default start =0, step=1, so you can write the end only or you can explicitly use them

In [ ]:
students=["Neha","Ridhi","Simi","Jahnvi"]

# using range() function
for i in range(len(students)):
  print(students[i])
else:
  print("else block code printed")

Neha
Ridhi
Simi
Jahnvi
else block code printed

Python is so smart that if you want to simply iterate all the sequence you don't need to do heavy work, just write the sequence name  : ðŸ˜Ž

In [ ]:
students=["Neha","Ridhi","Simi","Jahnvi"]

# printing list directly
for i in students:
  print(i)
else:
  print("else block code printed")

Neha
Ridhi
Simi
Jahnvi
else block code printed

As same as range you can use `enumerate()` too here you just need to pass the list, and if you have declared single variable in loop for iteration it will return the result as a tuple of index and list_value

In [ ]:
students=["Neha","Ridhi","Simi","Jahnvi"]

# using enumerate() function to get index too
for i in enumerate(students):
  print(i) # here you can see i means index with value

(0, 'Neha')
(1, 'Ridhi')
(2, 'Simi')
(3, 'Jahnvi')

You can also customize the output in many ways, you can define two iterator variables one will hold index other will have list_elements

Now you can have what you want

In [ ]:
students=["Neha","Ridhi","Simi","Jahnvi"]

# using enumerate() function to get index too
for i,x in enumerate(students):
  print(x) # here you can see i means index and x means value

Neha
Ridhi
Simi
Jahnvi

Also you can use single variable but this time you need to use index 0 for value and 1 for list_element.

In [46]:
students=["Neha","Ridhi","Simi","Jahnvi"]

# using enumerate() function to get index too
for i in enumerate(students):
  print(i[0]) # here you can see i[0] means index
  print(i[1]) # here you can see i[1] means value so like this you can customize your output

0
Neha
1
Ridhi
2
Simi
3
Jahnvi

# 3. iterate two sequences using one loop

as `enumerate()` function output have `index` and `list_elements` we can use this index value to iterate other list as well.

One more thing, to format string output we can use this notation as c, see below.

In [ ]:
students=["Neha","Ridhi","Simi","Jahnvi"]
roll=[100,101,102,103,104]

# iterating two list at once
for i,x in enumerate(students, start=1):
  print("Roll number of %s is %d \n"%(x, roll[i]))

Roll number of Neha is 101

Roll number of Ridhi is 102

Roll number of Simi is 103

Roll number of Jahnvi is 104

`enumerate()` works better, but you can also use `zip(list1,list2)` function to iterate two lists at once you just need to pass the two lists. It will return the combined list

In [18]:
students=["Neha","Ridhi","Simi","Jahnvi"]
roll=[100,101,102,103,104]

#zip(list1,list2) to merge two lists
for i in zip(students, roll):
  print(i)

('Neha', 100)
('Ridhi', 101)
('Simi', 102)
('Jahnvi', 103)

Again to format the output you can have the two iterator variables.

In [19]:
students=["Neha","Ridhi","Simi","Jahnvi"]
roll=[100,101,102,103,104]

#use two variables to use them as single elements
for i,x in zip(students, roll):
  print("The roll no. of %s is %d"%(i,x))

The roll no. of Neha is 100
The roll no. of Ridhi is 101
The roll no. of Simi is 102
The roll no. of Jahnvi is 103

you can also unzip or split the list into two new lists

In [49]:
students, roll = zip(*[('Neha', 100),('Ridhi', 101),('Simi', 102),('Jahnvi', 103)])
oldlist=[('Neha', 100),('Ridhi', 101),('Simi', 102),('Jahnvi', 103)]
list1,list2=zip(*oldlist)
print(students)
print(roll)

print()
print(list1)
print(list2)

('Neha', 'Ridhi', 'Simi', 'Jahnvi')
(100, 101, 102, 103)

('Neha', 'Ridhi', 'Simi', 'Jahnvi')
(100, 101, 102, 103)

#  4. Continue, Break and Pass statements

**Continue statement** can be used when you want to skip the code, and move to the next line of code, can be used inside if else to skip on some particular condition

In [27]:
for i in roll:
  if i==102:
    continue #skip the code and move to the next line
  print(i)

print("end of the program")

100
101
103
end of the program

**Break statement** can be used when you want to exit from the current code block and move to the next code block

In [28]:
for i in roll:
  if i==102: #break the entire code block and move to the next block
    break
  print(i)

print("end of the program")

100
101
end of the program

**Pass statement** can be used in writing empty function, it does nothing.

In [29]:
def test():
  pass

# 5. switch case in python

Python doesn't have built in switch case, but we can use dictionary to create one.

here dictionary `get(key,"default value to return")` function returns the value of matching key and if not found the default value will be returned.

In [50]:
def switch_case(choice):
  switch={0:"mango", 1:"banana", 2:"apple"}
  print(switch.get(choice,"nothing"))

switch_case(1)

banana

# 6. difference between == and is

unlike other programming languages python uses different technique to assign a value in a variable, 
![image.png]()

In [39]:
a=6
b=6
c=9

print(id(a), id(b), id(c), id(e))

93995689437856 93995689437856 93995689437952 93995689437856

This below example will clearify all the doubts

In [45]:
a=[1, 2, "shivam"]
b=[1, 2, "shivam"]

print(a == b)
print(a is b)

# why? let's see
print()
print(id(a), id(b))

True
False

139804367192304 139804368511456